/* 全体のレイアウト */
.search-form {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    max-height: 620px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f9fc;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* スクロールバーのスタイルを透明にする */
.search-form::-webkit-scrollbar {
    width: 8px;
    /* スクロールバーの幅 */
    background: transparent;
    /* 背景を透明に */
}

.search-form::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    /* スクロールバーの色 */
    border-radius: 10px;
    /* 角を丸くする */
}

.search-form::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
    /* ホバー時の色 */
}

/* ラベルと入力のスタイル */
.search-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.search-form input,
.search-form select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.search-form input:focus,
.search-form select:focus {
    border-color: #0078ff;
}

/* ボタンスタイル */
.search-form button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #0078ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}