body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  /* 横スクロールを無効にする */
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* 横スクロールを無効にする */
}

.slideshow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.slideshow {
  width: 500%;
  height: 100%;
  display: flex;
  animation: slide 25s infinite;
}

.slideshow div {
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-20%);
  }

  45% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(-40%);
  }

  70% {
    transform: translateX(-40%);
  }

  75% {
    transform: translateX(-60%);
  }

  95% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-80%);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #4CAF50;
  color: white;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  /* 表示範囲を広くする */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.main-button {
  padding: 20px 0;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  /* ここを100%に設定 */
  box-sizing: border-box;
  /* パディングとボーダーを含める */
}

.main-button:hover {
  transform: translateY(-3px);
}

.blue-button {
  background-color: #42a5f5;
}

.red-button {
  background-color: #ef5350;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.support-link {
  color: #4CAF50;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #4CAF50;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

.support-link:hover {
  background-color: #4CAF50;
  color: white;
}

@media (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-button {
    width: 48%;
    /* デスクトップサイズでは、二つのボタンが等しくなるように幅を48%に設定 */
  }
}

/* モーダルウィンドウ */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: flex-end;
}

.modal.show {
  display: flex;
  animation: slideIn 0.5s forwards;
}

.modal.hide {
  animation: slideOut 0.5s forwards;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  position: relative;
  max-height: 90%;
  /* ウィンドウの高さの90% */
  overflow-y: auto;
  /* モーダル内でスクロールを許可 */
  overflow-x: hidden;
  /* 横スクロールを無効に */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.main-button {
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  width: 48%;
}

.main-button:hover {
  transform: translateY(-3px);
}

.blue-button {
  background-color: #42a5f5;
}

.green-button {
  background-color: #4CAF50;
}

.white-button {
  background-color: #e7e7e7;
}

.small-button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
}

.destination {
  margin-top: 10px;
}

.remove-destination-button {
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.destination-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .form-group {
    width: 100%;
  }

  .form-buttons {
    flex-direction: column;
  }

  .main-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.navbar {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  margin-right: 20px;
  /* ボタン部分を少し右に寄せる */
}

.navbar h1 {
  margin-left: 20px;
  /* タイトルを少し左に寄せる */
  font-size: 24px;
}

.register-button,
.login-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.register-button:hover,
.login-button:hover {
  background-color: green;
  color: white;
}